:root {
  --lighterMainColor: #2f302f;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.display-outer-container {
  overflow-x: hidden; 
  overflow-y: hidden; 
  display: flex; 
  flex-direction: row;
  background-color: var(--lighterMainColor);
}

.display-inner-container {
  height: 100%;
  width: 100%;
  background-color: var(--lighterMainColor);
  margin-top: 60px;
  margin-left: 200px;
}

.loading {
  height: 100vh;
  width: 80vw;
  background-color: var(--lighterMainColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
